* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.carusel__container {
    width: 50%;
    margin: auto;
    border: 5px solid black;
}

.carusel__container img {
    display: block;
    width: 100%;
}

.carusel__slide {
    display: flex;
    height: 400px;
}

.btn {
    padding: 25px 35px;
    border-radius: 50%;
    background-color: rgb(200, 168, 230);
    font-size: 35px;
    cursor: pointer;
    outline: 0;
    border: 1px solid rgb(118, 88, 193);
}